body{
    margin: 10px;
}
main{
    margin:20px;
}
body{
    text-align: centre;
}
h1{
    
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color:gray;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}
.navbar a:hover{
    background-color: darkgray;
}
.navbar li{
    float:left;
}
body{
    
    color: black;
}
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}
